.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 20px;
}

.messages {
  padding: 10px;
}

.newMessage {
  padding: 20px;
}

.newMessage button {
  cursor: pointer;
}
