.message {
  display: flex;
  justify-content: left;
  /* justify-content: space-between; */
}

.dialogSmile {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dialogSmile img {
  width: 30px;
  height: 30px;
  align-self: center;
}

.dialogSmileName {
  display: flex;
  justify-content: center;
}

.dialogTxt {
  display: flex;
  margin: 30px 20px 10px 20px;
  align-items: center;
  background-color: white;
  min-width: 200px;
  padding: 12px;
  border-radius: 1px 16px 0px 30px;
  flex: start;
}
